<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://wwww.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs"
                   th:href="@{/client-form}">Crear usuario</a>
            </h4>
            <div th:if="${clients.isEmpty()}">Clients not exist</div>
            <table class="table table-striped table-bordered" th:if="${not clients.isEmpty()}">
                <thead class="thead-inverse">
                <tr>
                    <th sec:authorize="hasRole('ROLE_USER')">Id</th>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Created</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')"> Editar</th>
                    <th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="client: ${clients}">
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.username}"></td>
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.lastname}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.birthday}"></td>
                    <td th:text="${client.createdAt}"></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-primary btn-xs"
                           th:href="@{/client-form/} + ${client.id}"
                           th:text="'Editar'"></a></td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-danger btn-xs"
                           th:href="@{/eliminar/} + ${client.id}"
                           th:text="'Eliminar'"
                           onclick="return confirm('Esta seguro que deseas eliminar?');"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>